#home-container {
  min-height: 100vh;
  padding: 1px;
  /* background: linear-gradient(#000000, #040711, #080d22, #090e24); */
  background-color: #c0c7fe;
}

#home-heading {
  display: flex;
  margin-top: 38px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

#nav h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

/* #nav-center h5:hover {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  transition: 0.1s all ease;
 
} */

/* #nav-center h5:hover:after {
  content: "";
  position: absolute;
  width: 30px;
  bottom: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #3a54cf;
  background-color: #3a54cf;
  transition: 0.5s all ease;
} */

#nav button:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s all ease;
}

/* #home-content {
  color: #fff;
  text-align: center;
  margin-top: 11vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#home-content h3 {
  font-size: 65px;
  font-weight: 500;
}

#home-content #box {
  width: 25vw;
  position: absolute;
  right: 38%;
  top: 25%;
  box-shadow: 0px 0px 15px #3a54cf;
  rotate: 180deg;
  aspect-ratio: 1/1;
}

#home-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
} */

#home-subitem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#home-subitem h5 {
  color: #999898;
  font-weight: 400;
  font-size: 20px;
}
