#task-list {
  margin-top: -35px;
  overflow-y: auto;
  height: 45vh;
  width: 37vw;
}
#task-card {
  width: 35vw;
  height: 16vw;
  margin-top: 2vw;
  border-radius: 5px;
  padding: 2vw 3vw;
  position: relative;
}

#task-card h3 {
  color: #000;
  font-weight: 900;
  font-size: 1.5vw;
}

#task-card p {
  font-size: 1.2vw;
  color: #101010bf;
  margin-top: 1.2vw;
  font-weight: 500;
}
#task-card img {
  position: absolute;
  top: 2vw;
  right: 2vw;
  cursor: pointer;
}

#progress-bar {
  margin-top: 8vw;
  display: flex;
}

#progress {
  width: 28vw;
  height: 5px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.508);
}

#progress-track {
  display: flex;
  gap: 20vw;
  height: 5px;
  border-radius: 20px;
  background-color: #fff;
}
#progress-track h5 {
  font-size: 1vw;
  color: #000;
  margin-top: -1.8vw;
}
