#main {
  min-height: 100vh;
  background-color: #edf0ff;
  color: #fff;
  padding: 0.1px;
  display: grid;
  grid-template-columns: 0fr 1.8fr;
}

#nav-left {
  padding: 1.4vw 1.3vw;
  display: flex;
  flex-direction: column;
  width: 20%;
}

#nav-top {
  display: flex;
  flex-direction: column;
  gap: 3.5vw;
  color: #000;
}

#nav-top svg {
  font-size: 1.5vw;
  cursor: pointer;
}

#nav-top h5 {
  font-size: 1.1vw;
  margin-left: -0.4vw;
  margin-bottom: -1vw;
}

#nav-bottom {
  margin-top: 6vw;
  display: flex;
  flex-direction: column;
  gap: 2.8vw;
}

#nav-bottom svg {
  color: #8d8e8f;
  font-size: 1.5vw;
}

#line {
  position: absolute;
  left: 4.2%;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #e2e5ff;
}
