#task-ui {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d3d8e9;
}

#create-div {
  display: flex;
  gap: 2.8vw;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
}

#create-div h1 {
  color: #010a16;
  font-size: 3.2vw;
  font-weight: 300;
}

#add-new {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  gap: 1.8vw;
  justify-content: center;
}

.new-task-card,
.new-project-card,
.new-status-card,
.new-member-card {
  background-image: url(/gradient.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  width: 24vw;
  height: 26vh;
  position: relative;
}

.new-project-card {
  background-image: url(/project-gradient.png);
}

.new-status-card {
  background-image: url(/status-gradient.png);
}

.new-member-card {
  background-image: url(/member-gradient.png);
}

.new-task-card,
.new-project-card,
.new-status-card,
.new-member-card h4 {
  padding: 1.2vw;
  font-weight: 400;
  font-size: 1.5vw;
}

.new-task-card svg {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  font-size: 2.4vw;
  cursor: pointer;
}
.new-project-card svg {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  font-size: 2.4vw;
  cursor: pointer;
}
.new-status-card svg {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  font-size: 2.4vw;
  cursor: pointer;
}

.new-member-card svg {
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  font-size: 2.4vw;
  cursor: pointer;
}
